<div id="slider">
    <div class="container-fluid">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol> -->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <content name='slider_item24' id='24' > </content>
                    </div>
                </div>

                <!-- Controls
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>
        </div>
    </div>
</div>

<div id="rorreelive">
    <div class="container">
        <div class="row">
            <div class="col-md-12 rorreeliveMRL">
                <content name='rorreelive25' id='25' >  </content>
            </div>
        </div>
    </div>
</div>

<div id="dolar">
    <div class="container">
        <div class="inner-info-top text-center">
            <h3><content name='dolar_inner_info_top32' id='32' > </content></h3>
            <h2><content name='dolar_inner_info_top33' id='33' > </content></h2>
            <p><content name='dolar_inner_info_top41' id='41' > </content></p>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <div class="dolar-content">
                    <div class="purchaseimg">
                        <content name='dolar_dolar_content39' id='39' > </content>
                    </div>
                    <h3><content name='dolar_dolar_content34' id='34' > </content></h3>
                    <p><content name='dolar_dolar_content35' id='35' > </content></p>
                    <content name='dolar_dolar_content36' id='36' > </content>
                    <div class="lineimg">
                        <content name='dolar_dolar_content37' id='37' > </content>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <div class="dolar-content">
                    <div class="purchaseimg">
                        <content name='dolar_dolar_content42' id='42' > </content>
                    </div>
                    <h3><content name='dolar_dolar_content43' id='43' > </content></h3>
                    <p><content name='dolar_dolar_content44' id='44' > </content> </content></p>
                    <div class="lineimg1">
                        <content name='dolarsit49' id='49' > </content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dolarsit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <div class="dolatsit_content">
                    <div class="inner-info-top text-center">
                        <h2><content name='dolarsit47' id='47' > </content></h2>
                        <p><content name='dolarsit50' id='50' > </content></p>
                        <div class="btnview">
                            <a href="#" class="btn btn-default btn-lg btn-block btneye"><content name='dolarsit51' id='51' > </content></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="trainer">
    <div class="container">
        <div class="inner-info-top text-center">
            <h3><content name='trainer59' id='59' > </content></h3>
            <h2><content name='trainer60' id='60' > </content></h2>
            <p><content name='trainer61' id='61' > </content></p>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 trainer-inner pull-left">
                <content name='trainer62' id='62' > </content>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 trainer-inner pull-right">
                <div class="trainer-content-top text-center">
                    <h2><content name='trainer-inner85' id='85' > </content></h2>
                    <h4><content name='trainer-inner86' id='86' > </content></h4>
                    <p><content name='trainer-inner87' id='87' > </content></p>
                </div>
                <div class="trainer-content-bottom text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='trainer-content-bottom88' id='88' > </content>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='trainer-content-bottom89' id='89' > </content>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <content name='trainer-content-bottom90' id='90' > </content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="roreemanlive">
    <div class="container">
        <div class="roreemanlive">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 col-xs-12 pull-left roreemanliveimgleft">
                    <img src="../images/roreemanlive-imgleft.png">
                </div>
                <div class="col-xl-8 col-md-8 col-sm-12 col-xs-12 col-xs-12">
                    <div class="roreemanlive_content">
                         <div class="inner-info-top text-center">
                             <h2><content name='roreemanlive_content93' id='93' > </content></h2>
                             <h3><content name='roreemanlive_content94' id='94' > </content></h3>
                             <p><content name='roreemanlive_content95' id='95' > </content></p>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="personaldevlspeaker">
    <div class="container">
        <div class="inner-info-top text-center">
            <h3><content name='trainer59' id='59' > </content></h3>
            <h2><content name='trainer60' id='60' > </content></h2>
            <p><content name='trainer61' id='61' > </content></p>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 trainer-inner pull-left">
                <div class="trainer-content-top text-center">
                    <h2>As PERSONAL DEVELOPMENT SPEAKER</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed erat ornare, tincidunt tortor sit amet,</h4>
                    <p>Morbi ante nunc, dictum eu orci in, venenatis aliquet elit. Integer pulvinar quis metus a maximus. Sed nec nibh odio. Vivamus in ante efficitur, accumsan mauris id, lobortis orci. Fusce aliquam in nunc vel accumsan. Duis odio urna, mattis sed nulla sit amet, gravida cursus sem. Sed scelerisque velit ut sem fringilla, sit amet auctor nulla pulvinar. Proin luctus est eu eros posuere, at elementum orci varius. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras convallis nec tortor vitae consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.  </p>
                </div>
                <div class="trainer-content-bottom text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <img src="../images/img-trainer-thumb-1.jpg">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <img src="../images/img-trainer-thumb-2.jpg">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <img src="../images/img-trainer-thumb-3.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12 trainer-inner pull-right">
                <content name='trainer62' id='62' > </content>
            </div>
        </div>
    </div>
</div>

<div id="sitamet">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <div class="sitamet-left">
                    <h1>LOREM IPSUM DOLOR</h1>
                    <h2>SIT AMET DEMO</h2>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                <div class="sitamet-right">
                    <p>Phasellus dignissim id lacus vel pharetra. <span>Vestibulum et tempor nulla</span>, vel luctus nisl. Aliquam ex nunc, auctor ac <span>imperdiet a</span>, cursus ut mi. Mauris a aliquet turpis. Nulla ipsum urna, scelerisque vitae lobortis sit amet,</p>
                    <div class="btnview">
                        <a href="#" class="btn btn-default btn-lg btn-block btneye"><i><img src="../images/icon-joining.png"></i>JOIN THE TEAM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services">
    <div class="container">
        <div class="inner-info-top text-center">
            <h3>Lorem Ipsum</h3>
            <h2>SERVICES</h2>
            <p><content name='trainer61' id='61' > </content></p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <img src="../images/img-servicesleft.jpg">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="row">
                    <div class="col-md-6 col-xs-12 servicesright one">
                        <h2>RETREATS</h2>
                        <p>Donec sed erat ornare, tincidunt tortor sit amet,</p>
                    </div>
                    <div class="col-md-6 col-xs-12 servicesright two">
                        <h2>ONLINE COURSES</h2>
                        <p>Donec sed erat ornare, tincidunt tortor sit amet,</p>
                    </div>
                    <div class="col-md-12 col-xs-12 servicesright three">
                        <h2>ONLINE COURSES</h2>
                        <p>Donec sed erat ornare, tincidunt tortor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="testimonials">
    <div class="container">
            <div class="inner-info-top text-center">
            <h3>Lorem Ipsum</h3>
            <h2>TESTIMONIALS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed erat ornare, tincidunt tortor sit amet,</p>
        </div>
            <div class="testimonialslist text-center">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 singletestimonials">
                        <div class="testiimg">
                            <img src="../images/img-testimonial-one.jpg">
                            <i><img src="../images/icon-testimonial.png"></i>
                        </div>
                        <h2>Lorem Ipsum</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed erat ornare, tincidunt tortor sit amet.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 singletestimonials">
                        <div class="testiimg">
                            <img src="../images/img-testimonial-one.jpg">
                            <i><img src="../images/icon-testimonial.png"></i>
                        </div>
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed erat ornare, tincidunt tortor sit amet.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 singletestimonials">
                        <div class="testiimg">
                            <img src="../images/img-testimonial-one.jpg">
                            <i><img src="../images/icon-testimonial.png"></i>
                        </div>
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed erat ornare, tincidunt tortor sit amet.</p>
                    </div>
                </div>
            </div>
    </div>
</div>
